* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.container_table {
    width: 90%;
    margin: auto;
    margin-top:2em;
    overflow: hidden;
}

.table_form {
    margin: auto;
    overflow: hidden;
    text-align: left;
}

    .table_form td{
        padding: 5px;
    }

    .container_dis {
        width: 60%;
        margin: auto;
        overflow: hidden;
    }
.container_center {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#logo {
    width: 50%;
}

.quiz {
    min-height: 500px;
    min-width:500px;
}
.contact {
    min-height: 500px;
    margin-top: 100px;
}

body {
    font-family: "Gill Sans", "Gill Sans MT","Calibri", "Trebuchet MS", "sans-serif";
    background-color: lightgray;
}

header {
    width: 100%;
    color: white;
    background-color: teal;
    min-height: 7%;
    border-bottom: 5px solid darkorange;
    overflow: hidden;
    position: sticky;
    top: 0;
}


div.menu {
    width: 50%;
    right: 4em;
    top: 1.75em;
    position: fixed;
    min-height: 50px;
    overflow: hidden;
    font-size: 22px;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

    .menu ul li {
        display: block;
        float: left;
    }

        .menu ul li a {
            display: block;
            text-decoration: none;
            color: white;
            padding: 0 8px 0 8px;
            background: darkorange;
            margin-left: 10px;
            text-transform: uppercase;
        }

        .menu ul li ul a {
            border-top: solid;
            padding: 0 5px 0 5px;
        }

        .menu ul li a:hover {
            color: darkorange;
            background-color: white;
            transition: ease-in;
            transition-duration: 0.5s;
        }

.menu li ul {
    display: none;
}

.menu li:hover ul {
    display: block;
}

.menu li:hover li {
    float: none;
    font-size: 18px;
}

.menu li:hover a {
    color: white;
    background-color: darkorange;
}

li:hover li a:hover {
    color: darkorange;
    background-color: white;
    transition: ease-in;
    transition-duration: 0.5s;
}

#description {
    min-height: 500px;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

    #description h1 {
        font-size: 55px;
        margin-bottom: 10px;
    }

    #description p {
        font-size: 30px;
        background-color: rgba(100, 55, 0, 0.6);
        border-radius: 20px 50px;
    }

.boxes {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
    .boxes a {
        text-decoration: none;
        color: white;
        padding: 0 10px 0 10px;
    }

div ul {
    text-align: left;
    font-size: 24px;
}

.box {
    background-color: darkorange;
    border: solid;
    text-align: center;
    width: 300px;
    padding: 10px;
    margin-right: 50px;
    margin-bottom: 5%;
    overflow: hidden;
    border-radius: 20px 50px;
    height: 215px;
}

    .box:hover {
        color: darkorange;
        background-color: white;
    }

    .box img {
        width: 30%;
    }
.frame_box {
    border-bottom: solid;
    padding-top: 20px;
}
footer {
    width: 100%;
    left: 0%;
    top: 0%;
    color: white;
    background-color: teal;
    min-height: 10%;
    border-top: 5px solid darkorange;
    overflow: hidden;
}

#names {
    font-size: 20px;
}

#return {
    position: fixed;
    left: 0px;
    top: 70%;
    text-transform: uppercase;
    z-index: 1;
}

    #return a {
        text-decoration: none;
        background-color: teal;
        border: solid teal;
        color: white;
    }

        #return a:hover {
            background-color: darkorange;
            color: white;
            border: solid darkorange;
            transition: ease-in;
            transition-duration: 0.5s;
        }
#Login {
    background-color: rgba(0, 128, 128, 0.6);
    min-height: 500px;
    text-align: center;
/*    border-radius: 50px 50px 50px 50px;*/
    overflow: hidden;
    height: 100%;
    align-content: center;
    width: 100%;
    margin: auto;
    overflow: hidden;
    
}
#login-inner {
    background-color: darkorange;
    margin: auto;
    border-radius: 50px 50px 50px 50px;
    min-height: 300px;
    width: 350px;
    vertical-align: middle;
    margin-top: 5.5em;
    padding: 20px;
}
.TOC {
    background-color: darkorange;
    text-align: center;
    /*    min-width: 410px;
    min-height: 500px;*/
    border-radius: 0 50px 50px 0;
    overflow: hidden;
}

    .TOC a {
        text-decoration: none;
        color: white;
        padding: 0 10px 0 10px;
    }

iframe {
    width: 720px;
    height: 405px;
}

.frame_box img {
    width: 720px;
    height: 405px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quiz p {
    font-size: 24px;
}

.quiz label {
    font-size: 24px;
}

.quiz caption {
    font-size: 34px;
}

@media (max-width: 1200px) {

    #logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    div.menu {
        top: 3.25em;
        right: 0em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #description {
        min-height: 400px;
    }

        #description h1 {
            font-size: 40px;
        }

        #description p {
            font-size: 20px;
        }

    .container_center {
        width: 90%;
    }

    .box {
        margin-right: 15px;
    }


        .quiz p {
            font-size: 18px;
        }

        .quiz label {
            font-size: 18px;
        }

        .quiz caption {
            font-size: 26px;
        }

    iframe {
        width: 510px;
        height: 287px;
    }

    .frame_box img {
        width: 510px;
        height: 287px;
    }

    .TOC {
/*        min-height: 410px;*/
        font-size: 20px;
    }

    .container_table {
        width: 100%;
    }
}

/*@media (max-height: 810px) {
    .TOC {
        margin-top: 75px;
        min-height: 425px;
    }
}*/

@media (max-width: 700px) {
    #logo {
        font-size: 24px;
    }

    div.menu {
        top: 2.4em;
    }

        div.menu ul li a {
            font-size: 18px;
            padding: 0 6px 0 6px;
            margin-left: 8px;
        }

        div.menu ul li ul a {
            font-size: 16px;
        }

    #description {
        flex-wrap: wrap-reverse;
    }

    .TOC {
/*        width: 100%;*/
        border-radius: 0;
        flex: 100%;
    }

        .TOC li {
            font-size: 20px;
        }

    .container_center {
        width: 90%;
    }
    .container_dis{
        flex:95%
    }
    #names {
        font-size: 14px;
    }

    iframe {
        width: 380px;
        height: 214px;
    }

    .frame_box img {
        width: 380px;
        height: 214px;
    }

    .quiz p {
        font-size: 16px;
    }

    .quiz label {
        font-size: 16px;
    }

    .quiz caption {
        font-size: 24px;
    }
}

/*@media (max-width: 1300px) {
    .container_center {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .TOC {
        display: block;
        position: relative;
        min-width: 60%;
    }
}
*/
